{% extends "base.html" %}
{% block title %} Downloader {% endblock %}
{% block content %}
    <div class="container">
        <form action="add_url" method="post" class="inputURL">
            <input type="text" name="url" class="url" placeholder="Paste your link here!." required="true">
            <select name="format" required="true">
                <option value="">Please select your format</option>
                <option value="video">Video</option>
                <option value="audio">Audio</option>
            </select>
            <label for="is_playlist">Playlist?</label>
            <input type="checkbox" name="is_playlist" value="True">
            <button type="submit" class="url">Submit!</button>
        </form>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="modal">
                        <button class="close-modal">&times;</button>
                        <p>{{ message }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <a href={{ url_for('pending') }}>
            <p>Pending Downloads</p>
        </a>
    </div>
    <script src="/scripts/index.js"></script>
{% endblock %}
