<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Pending Links</title>
</head>
<body>

        <h1>Pending Links</h1>
        <a href="#">Download ALL now!</a>
        <ul>
            {% for link in pending_links %}
            <li>{{link}} <a href="#">Download now!</a> <a href={{ url_for('delete', id=123) }}>Delete</a> </li>
            {% endfor %}
        </ul>


</body>
</html>